@charset "UTF-8";
h1 {
  color: red; }

h2 {
  color: blue; }

h3 {
  color: blue; }

h4 {
  color: gray; }

.test {
  background-color: yellow; }

.block {
  margin-top: 5px; }
  .block span {
    display: block;
    margin-top: 5px; }

.header {
  color: orange;
  margin-top: 5px; }
  .header span {
    display: block;
    margin-top: 5px; }

.mt, .block, .block span, .header, .header span {
  margin-top: 5px; }

.block span {
  display: block; }

.header {
  color: orange; }
  .header span {
    display: block; }

.block, .block span, .header, .header span {
  margin-top: 5px; }

.block span {
  display: block; }

.header {
  color: orange; }
  .header span {
    display: block; }

/* 字符串函数 */
.test1 {
  content: Hello Sass!; }

.test2 {
  content: 'Hello Sass!'; }

.test1 {
  content: "Hello Sass!"; }

.test2 {
  content: "Hello Sass!"; }

.footer {
  width: 20%; }

.footer {
  width: 20%; }

.footer {
  width: 20%; }

/* 数据地图 */
/* @at-root */
.demo {
  animation: motion 3s infinite; }

@keyframes motion {
  0% {
    color: #3b5998; }
  100% {
    color: #db4437; } }
